@import "../lib/bootstrap/scss/bootstrap";
$primary-color:$primary;

.blockquote-danger {
  padding: 0.5rem 1rem;
  border-left: .25rem solid $danger;
}

.category {
  margin-bottom: 10px;
  &:hover {
    cursor: pointer;
    .card {
      background-color: $primary-color;
      color: white;
    }
  }
  .card {
    transition: all 0.5s ease;
    height: 270px;
    background-color: #dcdcdc;

  }
}
.service {
  &:hover {
    background-color: $primary-color;
    color: white;
  }
}

.category .active {
  .card {
    background-color: $primary-color !important;
    color: white;
  }
}


.service {
  &:hover {
    cursor: pointer;
  }
}

.article {
  font: 100 14px/150% "Source Sans Pro", sans-serif;
  color: #585858;
  float: left;
  margin-bottom: 15px;
  cursor: pointer;
}

.ip-details {
  display: none;
}

.inlinepopup {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #c2c2c2;
  float: left;
  width: 100%;
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right: 15px;
  position: relative;
  border-top: .25rem solid #315da6;
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.5);
  .inlinepopup_content {
    margin: 20px;
    color: #585858;
  }
  .inlinepopup_arrow {
    background: url("../images/arrow-top.png") no-repeat scroll center 0;
    height: 32px;
    position: absolute;
    top: -34px;
    width: 32px;
  }
  .inlinepopupClose {
    background: url("../images/close.png") no-repeat scroll 0 0;
    cursor: pointer;
    height: 16px;
    position: absolute;
    right: 5px;
    text-indent: -9999px;
    top: 10px;
    width: 16px;
    z-index: 99;
    overflow: hidden;
    transition: all 0.5s ease 0s;
    &:hover {
      transform: rotate(180deg);
    }
  }

}




